.lang-select {
  position: fixed;
  right: 0;
  margin: 20px;
  list-style: none;
}
.lang-select ul {
  list-style: none;
  padding: 0;
}
.lang-select ul ul {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  left: 0;
}
.lang-select ul:hover > ul {
  visibility: visible;
  opacity: 1;
  height: auto;
}


.uk{
    display: inline; 
}

.es{
    display: none;
}

.it{
    display: none;
}
