.lang-select {
  position: fixed;
  right: 0;
  margin: 20px;
  list-style: none;
}
.lang-select ul {
  list-style: none;
  padding: 0;
}
.lang-select ul ul {
  visibility: hidden;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  left: 0;
}
.lang-select ul:hover > ul {
  visibility: visible;
  opacity: 1;
  height: auto;
}


.uk{
    display: inline; 
}

.es{
    display: none;
}

.it{
    display: none;
}

#UKI, #ESP{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.562)
}

#UKI:hover, #ESP:hover{
    color: #f23a3a;
    transition: 0.5s;
}






#particles-js{
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: fixed;
  background-repeat:repeat;
  background-size:cover;

}